@model Blog
@{
    ViewData["Title"] = "AddOrEdit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
 
@section scripts{ 
    <script src="~/modules/ckeditor/ckeditor.js"></script>
    <script>
        CKEDITOR.replace("Body")
    </script>
}

<div class="container">
    
    <br />

    <form asp-controller="Blog" asp-action="AddOrEdit" method="post" enctype="multipart/form-data">
        <input asp-for="BlogId" type="hidden" />

        <div class="form-group">
            <label asp-for="Title">Title</label>
            <input asp-for="Title" class="form-control">
        </div>

        <div class="form-group">
            <label asp-for="Description">Description</label>
            <textarea asp-for="Description" class="form-control"></textarea>
        </div>

        <div class="form-group">
            <label asp-for="Body">Body</label>
            <textarea asp-for="Body" class="form-control"></textarea>
        </div>

        <div class="form-group">
            <img src="~/img/@Model.Image" width="100" />
            <input id="formFile" name="formFile" type="file" class="form-control">
        </div>

        <div class="form-group">
            <label asp-for="CategoryId">Category Id</label>
            <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.Categories">
                <option disabled>Select Category</option>
            </select>
        </div>

        <div class="form-group ml-4">
            <input asp-for="isApproved" class="form-check-input" type="checkbox">
            <label asp-for="isApproved" class="form-check-label" for="defaultCheck1">
                Is Approved
            </label>
        </div>

        <div class="form-group ml-4">
            <input asp-for="isHome" class="form-check-input" type="checkbox">
            <label asp-for="isHome" class="form-check-label" for="defaultCheck1">
                Is Home
            </label>
        </div>

        <div class="form-group ml-4">
            <input asp-for="isSlider" class="form-check-input" type="checkbox">
            <label asp-for="isSlider" class="form-check-label" for="defaultCheck1">
                Is Slider
            </label>
        </div>

        <button class="btn btn-primary" type="submit">Submit</button>

    </form>
</div>
